
@using OilStationMVC.Views.Shared.Resources
@model OilStationMVC.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="card-body login-card-body">
    <p class="login-box-msg"> @SiteResource.Reset_Your_Password</p>
    @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="input-group mb-3">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="input-group mb-3">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = @ModelResources.Password })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="input-group mb-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = SiteResource.Confirm_Password })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="input-group mb-3">
            <input type="submit" value="@SiteResource.Reset_Your_Password" class="btn btn-primary" />

        </div>
    }
    <a href="@Url.Action("Login","Account")" class="text-center">@SiteResource.Go_To_Login_Page</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
