@using OilStationMVC.Views.Shared.Resources
@model OilStationMVC.Models.ForgotPasswordViewModel
<div class="card">

    <div class="card-body login-card-body">
        <p class="login-box-msg">@SiteResource.You_forgot_your_password__Here_you_can_easily_retrieve_a_new_password_</p>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @ModelResources.Email })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">@SiteResource.Request_new_password</button>
                </div>
            </div>
        }
        <p class="mt-3 mb-1">
            <a href="@Url.Action("Login")">@SiteResource.Go_To_Login_Page</a>
        </p>
        <p class="mb-0">
            <a href="@Url.Action("Register")">@SiteResource.Register_a_new_membership</a>
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
