@model System.Collections.Generic.IList<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@using OilStationMVC.Views.Shared.Resources
@{
    ViewData["Title"] = SiteResource.Drivers_List;
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        @Html.ActionLink(SiteResource.Create_New, "CreateRole", "Account", null, new { @class = "btn btn-primary" })
    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>

                    <th>@SiteResource.Name</th>
                    <th>Number Of users</th>
                    <th>@SiteResource.Edit</th>
                    <th>@SiteResource.Details</th>
                    <th>@SiteResource.Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.Users.Count</td>
                    <td>
                        @Html.ActionLink(SiteResource.Edit, "EditRole", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink(SiteResource.Details, "EditUsersRole", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                    </td>
                    @if (item.Users.Count == 0)
                    {
                        <td>
                            @Html.ActionLink(SiteResource.Delete, "Delete", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    }
                    else

                    {
                        <td>
                            @Html.ActionLink(SiteResource.Delete, "Delete", new { Id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                        </td>
                    }
                </tr>
                    }
                }
                else

                {
                    <tr>
                        <td> No Car Listed</td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>@SiteResource.Name</th>
                    <th>Number Of users</th>
                    <th>@SiteResource.Edit</th>
                    <th>@SiteResource.Details</th>
                    <th>@SiteResource.Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/assets/src/EnableDataTable.js"></script>
}