@model OilStationMVC.Models.ChargeArea
@using OilStationMVC.CustomHtmlHelper;
@using OilStationMVC.Controllers;

<div class="flex-fill overflow-auto">
    <div class="card">
        <div class="nav-tabs-responsive bg-light border-top">
            <div class="alert alert-success alert-bordered d-none " clientidmode="Static" id="ActionStatus" runat="server">gg</div>

        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="overview">
                @using (Html.BeginForm("Index", "Stock", FormMethod.Post))
                {
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @*@Html.LabelFor(m => m.nId)*@
                                    @Html.mLabelFor(m => m.nId).Render()
                                    @(Html.mTextBoxFor(m => m.nId).ReadOnly(true).Render())
                                    @Html.ValidationMessageFor(m => m.nId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.sName)
                                    @Html.mTextBoxFor(m => m.sName).Render()
                                    @Html.ValidationMessageFor(m => m.sName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.nCompany)
                                    @Html.mDropdownListFor(m => m.nCompany).EnabledSearch(true).DataSource(Lookups.CompanyLst()).Render()
                                    @Html.ValidationMessageFor(m => m.nCompany, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.nCost)
                                    @Html.mTextBoxFor(m => m.nCost).Render()
                                    @Html.ValidationMessageFor(m => m.nCost, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button ID="btn_Save" runat="server" class="btn bg-success" Text="<%$ Resources:PagesResource,btn_Save%>" name="btn_Save"> Save</button>
                        <button ID="btn_Cancel" name="btn_Cancel" runat="server" class="btn bg-danger" Text=@Resources.PagesResource.btn_Cancel> Cancel</button>

                    </div>
                }

            </div>
        </div>
    </div>
</div>


